body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
.container {
    width: 90%;
    max-width: 500px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    text-align: center;
    font-size: 0.9rem;
    color: #b0b0b0;
  }
  
  textarea {
    width: 100%;
    background-color: #252525;
    color: #e0e0e0;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    resize: none;
  }
  
  button {
    width: 100%;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #3700b3;
  }

  input[type="radio"] {
    appearance: none; /* Oculta la apariencia predeterminada */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lang-header
{
    display: flex;
}
.lang-header>div{

    margin-left: auto;
    display: flex;
    gap: 5px;
}
#deck-load-button{
    margin-top: 10px;
    height: 30px;
    padding: 0;
    width: 100px;
    font-size: small;
    font-weight: bold;
}
#deck-load-input{
    height: 10px;
    width: 200px;
    resize: none;
    overflow: hidden;    
}

/* Contenedor de botones de idiomas */
#languagesContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que se ubiquen en varias líneas */
  gap: 8px;        /* Espacio entre botones */
}

/* Estilo para los botones de idiomas */
.language-button {
  flex: 0 0 120px; /* Ancho fijo de 120px. Puedes ajustar este valor según necesites */
  text-align: center;
  padding: 8px 12px;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-container-words
{
    max-height :200px;
    overflow-y :auto;
    margin-bottom :15px;
    padding :10px;
    background-color :#252525;
    border-radius :5px;
}

.container-words{
    display : flex;
    flex-wrap : wrap;
    gap : 6px;
}


.word-button
{
    width: auto;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    background-color: #414141;
    color: white;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.word-button:hover
{
    background-color: red;
}



