.popup-header
{
    display: flex !important;
}

.word{
    font-size: 20px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    color: white !important;
    font-weight: bold !important;
    border-bottom: 1px solid var(--border-color-base, #a2a9b1) !important;
}
.word::first-letter
{
    text-transform: capitalize !important;
}

.phonetics{
    color: #a2a9b1;
    font-size: 12px;
}


.img-derecha {
    margin-right: 0px;
    margin-left: auto !important;
    display: flex;
    gap: 5px;
    
}
.audio-img
{
    height: 20px !important;
    width: auto !important;
    cursor: pointer !important;
}

.add-img
{
    height: 15px !important;
    width: auto !important;
    cursor: pointer !important;
}

.hat-img
{
    height: 23px !important;
    width: auto !important;
}

.tick-img
{
    height: 20px !important;
    width: auto !important;
}

.error-img
{
    height: 15px !important;
    width: auto !important;
}

.sentence-block{
    display: flex;
    gap: 5px;

}
.sentence
{
    margin-top: 0 !important;
}
.audio-sentence
{
    height: 20px !important;
    width: auto !important;
    cursor: pointer !important;
}
        
.definition
{
    color: white !important;
}

.example-hitbox{
    width: full !important;
    color: white !important;
    font-size: 14px !important;
    background-color: #212121 !important;
    font-weight: bold !important;
    border-top: 1px solid var(--border-color-base, #a2a9b1) !important;
}

.examples-list { 
    list-style: disc !important;
    list-style-position: inside !important;
}

.example-hitbox:hover
{
    background-color: #313131 !important;
    cursor: pointer !important;
}

.example { 
    width: full !important;
    color: white !important;
    font-size: 14px !important;
    cursor: pointer !important;

}

.popup-bubble {
  position: absolute !important;
  background-color: #212121 !important;
  border: 3px solid #313131 !important;
  border-radius: 21px 21px 21px 0px !important;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2) !important;
  z-index: 1000 !important;
  font-size: 12px !important;
  max-width: 300px !important;
  max-height: 140px !important;
  overflow-y: auto !important;
  padding-right: 15px !important;
  padding: 10px !important;
  transform: translate(0, -100%) !important;

}


.popup-bubble::-webkit-scrollbar {
    width: 5px !important; 
}
  
.popup-bubble::-webkit-scrollbar-track {
    background: rgba(0,0,0,0) !important; 
    width: 10px !important;
}
  
.popup-bubble::-webkit-scrollbar-thumb {
    background-color: #2d2d2d !important; /* Color semitransparente para la thumb */
    border-radius: 10px !important;

    background-clip:content-box !important;
  }
  
